# Ignore all node_modules folders (root + any subfolder)
node_modules/
**/node_modules/

# Ignore build outputs
dist/
.next/

# Ignore local environment files
.env

# Ignore Prisma Client outputs
/backend/src/prisma/client
